#!/usr/bin/env xdg-open
[Desktop Entry]
Name=UwUntu Welcome
GenericName=budgie-welcome
Comment=Stupidly simple.
Categories=Utility;
Type=Application
Exec=python3 /usr/bin/uwuntu-welcome/budgie-welcome
Icon=/usr/share/icons/rounded-logo.png
Terminal=false
NoDisplay=false
Name[en_US]=welcome.desktop
