/************************
 * Community page styles
*************************/
.social-banner {
    background: #404552;
    height: 72px;
    text-align: center;
  }
  
  .social-banner img {
    height: 40px;
    margin-top: 16px;
  }
  
  .community-groups ul {
    padding-left: 0;
    margin: 10px;
  }