
/*Donate Page*/
.donate-banner img {
    height: 60px;
    border: 1px solid rgba(208, 208, 208, 0.25);
    padding: 10px;
    border-radius: 0.15rem;
    transition: background 0.5s ease;
  }
  .donate-banner img:hover {
    border: 1px solid #ddd;
    background: #ddd;
    transition: background 0.5s ease;
  }