/************************
 * Footer
*************************/

#footer {
    background: #404552;
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    padding: 0;
    z-index: 10;
  }
  
  #footer .footer-content {
    padding: 16px;
    color: white;
  }
  
  #footer .social img {
    height: 28px;
    width: 28px;
    margin-right: 5px;
  }
  .hover-menu-block {
    position: relative;
    display: inline-block;
  }
  .hover-menu-block .hover-menu {
    background: #404552;
    z-index: 15;
    position: absolute;
    /*bottom: -18px;
    left: 45px;*/
    bottom: 45%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    list-style: none;
    color: white;
    width: 160px
  }
  .hover-menu-block:hover .hover-menu {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
  }
  
  .hover-menu li {
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 4px;
    text-align: left;
  }
  
  .hover-menu li:hover {
    background: #333;
  }
  
  #footer .form a {
    color: white;
    text-decoration: none;
    margin-right: 8px;
    font-size: 14px;
  }
  
  #autostart {
    font-size: 24px;
    vertical-align: middle;
    color: white;
  }
  
  
  /* No margin for social icon in navbar */
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  img.left {
    margin-right: 10px;
    float: left;
  }
  
  img.right {
    margin-right: 10px;
    float: right;
  }
  
  hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    border: 0;
  }
  
  hr.soften-light {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,.4), rgba(0,0,0,0));
    border: 0;
  }
  
  .fa-va {
    vertical-align: middle;
  }
  
  #boutique-footer {
    color: #7F7F7F;
    line-height: 9px;
  }
  
  #boutique-footer > #update-subscribed {
    color: #646464;
  }
  
  #boutique-footer > #update-notification a, #update-subscribing  {
    color: white !important;
  }
  