/************************
** Global
*************************/

/* All bootstrap tool-tips */
.tooltip-inner {
    font-size: 12px;
  }
  
  /** Fade elements on Main Menu **/
  .fade { opacity: 0 }
  .fade-1s { -webkit-animation: fadeIn 1000ms forwards 10ms;   animation: fadeIn 1000ms forwards 10ms; }   /** Header **/
  .fade-2s { -webkit-animation: fadeIn 1000ms forwards 400ms;  animation: fadeIn 1000ms forwards 400ms; }  /** Subheadings **/
  .fade-3s { -webkit-animation: fadeIn 1000ms forwards 600ms;  animation: fadeIn 1000ms forwards 600ms; }  /** Row 1 Buttons **/
  .fade-4s { -webkit-animation: fadeIn 1000ms forwards 800ms;  animation: fadeIn 1000ms forwards 800ms; }  /** Row 2 Buttons **/
  .fade-5s { -webkit-animation: fadeIn 1000ms forwards 1000ms; animation: fadeIn 1000ms forwards 1000ms; }  /** Row 3 Buttons **/
  
  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .success-text {
    color: #477301;
  }
  