/************************
 * Header
*************************/

#header {
    padding: 8px 0;
    background-color: rgba(208, 208, 208, 0.25);
    z-index: 10
  }
  
  #header .logo {
    height: 64px;
  }
  
  #header h1 {
    margin-left: 16px;
    line-height: 64px;
    text-align: center;
  
    text-shadow: 2px 4px 8px rgba(0,0,0,0.4),
                 0px -5px 35px rgba(255,255,255,0.8);
  
    font-size: 24px;
    font-weight: bold;
  }
  
  #header h2 {
    margin-left: 16px;
    line-height: 16px;
    text-align: center;
  
    text-shadow: 2px 4px 8px rgba(0,0,0,0.4),
                 0px -5px 35px rgba(255,255,255,0.8);
  
    font-size: 16px;
    font-weight: normal;
  }
  
  #title-inject {
    display: none;
  }
  