/************************
 * Main Menu
*************************/
.main-menu-logo {
    width: 170px;
    height: 170px;
    /*top: 0; left: 0; bottom: 0; right: 0;*/
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    /*position: absolute;*/
    /* z-index: ; */
    pointer-events: none;
  }
  
  .main-menu-textbox {
    height: 40px;
    min-height: 40px;
    white-space: nowrap;
  }
  
  .main-menu-text {
    margin: 6px;
    padding: 6px;
    text-align: center;
    vertical-align: bottom;
  }
  
  /* Shows a notification in the top-right corner */
  .heads-up {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 11;
    font-size: 16px;
    text-align: right;
  }
  
  
  